.app {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: Courier New, monospace;
	margin-top: 10px;
}

.item {
	display: grid;
	width: 450px;
	height: 500px;
	gap: 20px;
	padding: 30px 10px 30px 10px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgb(153, 152, 152);
	background-image: -webkit-linear-gradient(left, rgb(83, 149, 230), rgb(213, 239, 211));
}

.error {
	height: 35px;
	border: 1px solid red;
	border-radius: 3px;
	color: rgb(239, 3, 3);
	font-size: 15px;
	text-align: center;
}

.input {
  font-size: 16px;
	border: 1px solid rgb(24, 118, 96);
	border-radius: 7px;
  font-family: Courier New, monospace;
	text-align: center;
	color: black;
  background-image: -webkit-linear-gradient(left, rgb(156, 193, 238), rgb(213, 239, 211));
}

.btn1 {
	font-size: 25px;
	font-family: Courier New, monospace;
	color: rgb(107, 37, 116);
	border-radius: 7px;
	background-image: -webkit-linear-gradient(left, rgb(15, 106, 217), rgb(111, 173, 200));
}

.btn2 {
	font-size: 25px;
	font-family: Courier New, monospace;
	color: rgb(35, 43, 63);
	border-radius: 7px;
	background-image: -webkit-linear-gradient(left, rgb(150, 51, 163), rgb(111, 173, 200));
}
